.subscription
  = button_to 'Subscribe', subscribe_question_path(@question),
          remote: true, id: 'susbcribe-btn',
          class: "#{'btn_hide' if @question.subscribed?(current_user)}"

  = button_to 'Unsubscribe', unsubscribe_question_path(@question),
          method: :delete, remote: true, id: 'unsusbcribe-btn',
          class: "#{'btn_hide' if !@question.subscribed?(current_user)}"